<div class="wrapper">
    <nav id="sidebar" [ngClass]="classes">
        <div class="sidebar-header">
            <h3>Nils-Holger Nägele</h3>
        </div>
        <ul class="list-unstyled components">
            <li>Nach Kategorie filtern</li>
            <button class="btn btn-lg btn-info"[class.active]="filterBy=='all'" (click)="filterBy='alle'">
                <span class="glyphicon glyphicon-play"></span>
                Alle<span class="selected"></span>
            </button>
            <button class="btn btn-lg btn-info" [class.active]="filterBy=='heute'" (click)="filterBy='heute'">
                <span class="glyphicon glyphicon-play"></span>
                Heute
            </button>
            <button class="btn btn-lg btn-info" [class.active]="filterBy=='berlin'" (click)="filterBy='berlin'">
                <span class="glyphicon glyphicon-play"></span>
                Marathon Berlin
            </button>
            <button class="btn btn-lg btn-info" [class.active]="filterBy=='köln'" (click)="filterBy='köln'">
                <span class="glyphicon glyphicon-play"></span>
                Marathon Köln
            </button>
            <button class="btn btn-lg btn-info" [class.active]="filterBy=='frankfurt'" (click)="filterBy='frankfurt'">
                <span class="glyphicon glyphicon-play"></span>
                Marathon Frankfurt
            </button>
            <button class="btn btn-lg btn-info" [class.active]="filterBy=='bremen'" (click)="filterBy='bremen'">
                <span class="glyphicon glyphicon-play"></span>
                Marathon Bremen
            </button>
            <button class="btn btn-lg btn-info" [class.active]="filterBy=='karlsruhe'" (click)="filterBy='karlsruhe'">
                <span class="glyphicon glyphicon-play"></span>
                Marathon Karlsruhe
            </button>
            <button class="btn btn-lg btn-info">
                <span class="glyphicon glyphicon-play"></span>
                Marathon Marseille
            </button>
            <button class="btn btn-lg btn-info">
                <span class="glyphicon glyphicon-play"></span>
                Marathon Freiburg
            </button>
            <button class="btn btn-lg btn-info">
                <span class="glyphicon glyphicon-play"></span>
                Marathon Paris
            </button>
            <button class="btn btn-lg btn-info">
                <span class="glyphicon glyphicon-play"></span>
                Extreme Wettkämpfe ...
            </button>
            <button class="btn btn-lg btn-info">
                <span class="glyphicon glyphicon-play"></span>
                Superhelden
            </button>
        </ul>
    </nav>
<div id="central-content" class="container-fluid">
    <button type="button" id="sidebarCollapse" class="btn btn-info-navbar-btn" (click)="toggleSidenav()">
        <i class="glyphicon glyphicon-align-left"></i>
    </button>
    <h2>{{title}}</h2>
    <div class="container-fluid">
        
        <ul id="thumbnailslist">
            <li *ngFor="let image of (visibleImages | imageFilter:filterBy)">
                <a [routerLink]="['/bild', image.id]">
                    <img src="{{image.url}}" class="tn" width="200" >
                </a>
            </li>
        </ul>
    </div>
</div>
</div>
